@use '@observability/ui/styles/variables' as variables;
@use '@observability/ui/styles/mixins' as mixins;
@use '@angular/material' as mat;

:host {
  max-width: 500px;
}

.bottom-chip {
  font-size: 12px;
  color: variables.$gray-700;
  border: 2px solid variables.$gray-200;
  padding: variables.$space-xxs variables.$space-xs;
  border-radius: 2px;
  background: variables.$gray-100;
}

.edit-journey {
  @include mixins.icon-size(16px);
  @include mixins.font-color(secondary);

  position: absolute;
  top: variables.$space-sm;
  right: variables.$space-sm;
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  width: 100%;
}
