@use '@observability/ui/styles/mixins' as mixins;
@use '@observability/ui/styles/variables' as variables;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-card {
  height: 100%;
}
