**/__pycache__/
**/tests/
*.egg-info/
*.md
*/collaborate_swagger_spec.yaml
*/observability_swagger_spec.yaml
.git*
.idea/
.mypy_cache/
.pytest_cache/
.venv/
build/
dist/
instance/
**/node_modules/
node_modules/
scripts/
venv/
**/.angular/
.angular/
.env*
.assets/
.serverless/
tmp/
reports/
.prettierignore
prettierrc
!.env.project
!.env.vault
serverless.yml
