<div *ngIf="outOfSequenceAlert()"
  class="toolbar">
  <alert type="error"
    [dkTooltip]="outOfSequenceTooltip"
    [dkTooltipDisabled]="outOfSequenceAlert()?.components?.length <= 0">
    Journey sequence not met. <a [routerLink]="['..', 'timeline']"
    class="link">View timeline</a> for more details.
  </alert>

  <ng-template #outOfSequenceTooltip>
    <div class="out-of-sequence-tooltip">
      <span>Offending components:</span>
      <ul>
        <li *ngFor="let component of outOfSequenceAlert().components">{{ component.display_name }}</li>
      </ul>
    </div>
  </ng-template>
</div>

<dag [nodeSize]="[150, 400]"
  [namespace]="[projectId(), journeyId()].join(':')"
  [restoreFromLocalStorage]="true"
  (renderError)="handleError($event)">
  <ng-container *ngFor="let node of nodes$|async; trackBy: nodeTrackByFn">
    <div *dagNode="node.component.id"
      class="component"
      data-test="InstanceComponent"
      attr.data-test-id="{{ node.component.id }}"
      attr.data-test-name="{{ node.component.display_name }}"
      [ngClass]="[ node.status, node.component.type ]">
      <ng-container *ngIf="node.component.type === componentType.BatchPipeline">
        <span [dkTooltip]="node?.status | translate | titlecase"
          class="component--status">
          <ng-container *ngIf="node">
            <mat-icon *ngIf="node.status === runStatus.Pending">hourglass_empty</mat-icon>
            <mat-icon *ngIf="node.status === runStatus.Running">play_arrow</mat-icon>
            <mat-icon *ngIf="node.status === runStatus.Completed">check</mat-icon>
            <mat-icon *ngIf="node.status === runStatus.CompletedWithWarnings"
              svgIcon="completed_with_warnings"></mat-icon>
            <mat-icon *ngIf="node.status === runStatus.Failed">priority_high</mat-icon>
            <mat-icon *ngIf="node.status === runStatus.Missing">question_mark</mat-icon>
          </ng-container>
        </span>
      </ng-container>

      <div class="component--title">
        <component-icon class="mr-1"
          [tool]="node.component.tool"
          [type]="node.component.type"
          size="12"></component-icon>

        <span class="component--title--name"
          [dkTooltip]="node.component.display_name"
          truncate>{{ node.component.display_name }}</span>
      </div>

      <div class="component--divider">
      </div>

      <div *ngIf="node.component.type === componentType.BatchPipeline"
        class="flex-row">
        <div class="component--stats-container mr-3">
          <a [routerLink]="[ '..', 'runs' ]"
            [queryParams]="{component_id: node.component.id}"
            class="component--stats">
            Runs: {{ node.runs_summary | sum:'count' }}
          </a>
        </div>

        <shell-instance-runs-summary [summaries]="node.runs_summary"></shell-instance-runs-summary>
      </div>

      <div *ngIf="node.component.type === componentType.Dataset"
        class="flex-row">
        <div class="component--stats-container mr-3">
          <a [routerLink]="[ '..', 'events' ]"
            [queryParams]="{component_id: node.component.id}"
            class="component--stats">
            Operations: {{ node.operations_summary | sum:'count' }}
          </a>
        </div>

        <div *ngIf="node.operations_summary.length > 0"
          class="flex-container text-caption--secondary">
          <div *ngFor="let summary of node.operations_summary"
            class="flex-container mr-2">
            <mat-icon class="flex-container icon-size-12">
              <ng-container *ngIf="summary.operation === 'WRITE'">edit</ng-container>
              <ng-container *ngIf="summary.operation === 'READ'">auto_stories</ng-container>
            </mat-icon>
            <span>{{ summary.count }}</span>
          </div>
        </div>
      </div>

      <div class="flex-row fx-align-baseline mt-1">
        <div class="component--stats-container mr-3">
          <a *ngIf="node"
            [routerLink]="[ '..', 'tests' ]"
            [queryParams]="{component_id: node.component.id}"
            class="component--stats">
            Tests: {{ node.tests_summary | sum:'count' }}
          </a>
        </div>

        <shell-task-test-summary *ngIf="node"
          [showLabels]="false"
          [testsSummaries]="node.tests_summary"></shell-task-test-summary>
      </div>
    </div>
  </ng-container>
  <dag-edge *ngFor="let edge of edges$|async; trackBy: edgeTrackByFn"
    [id]="edge.id"
    [fromNode]="edge.from"
    [toNode]="edge.to"></dag-edge>

  <shell-journey-dag-legend dagLegend></shell-journey-dag-legend>
</dag>
