{% for model in models %}{% for relation in model.relations %}{% if relation.needs_node %}{{ relation.target_app }}_{{ relation.target }} [label=<
      <table bgcolor="palegoldenrod" border="0" cellborder="0" cellspacing="0">
      <tr><td colspan="2" cellpadding="4" align="CENTER" bgcolor="olivedrab4">
      <font face="Helvetica Bold" color="white">{{ relation.target }}</font></td></tr>
      </table>
      >]
  {% endif %}
  {{ model.app_name }}_{{ model.name }} -> {{ relation.target_app }}_{{ relation.target }}
  [label="{{ relation.label }}"] {{ relation.arrows }};
{% endfor %}{% endfor %}
