<mat-card-edit
  class="mt-4"
  #projectAlertSettingsEditor
  title="Project Alerts"
  iconTooltip="Edit the project alerts configuration"
  (save)="saveAction()"
  (cancel)="cancelAction()"
  [formGroup]="form"
  [saving]="saving()">

  <div class="text--secondary mb-1"  *ngIf="!projectAlertSettingsEditor.editing">
    <ng-container *ngIf="alertActions.length > 0">Alert when an agent goes offline:</ng-container>
    <ng-container *ngIf="alertActions.length <= 0">No alerts configured</ng-container>
  </div>

  <ng-container *ngIf="projectAlertSettingsEditor.editing">
    <div class="text--secondary mb-1">Alert when an agent goes offline:</div>
    <div class="flex-row">
      <span class="fx-flex"></span>
      <button mat-button
        color="primary"
        [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
        Add Action
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
          *ngFor="let component of actionComponents"
          (click)="addActionAction(component)">
          {{ component.label }}
        </button>
      </mat-menu>
    </div>
  </ng-container>

  <div class="flex-column fx-flex">
    <mat-accordion>
      <ng-container *ngFor="let action of alertActions; let i = index;">
        <ng-container #actions
          [dynamicComponentOutlet]="action.component"
          [dynamicComponentOutletOptions]="{editMode: projectAlertSettingsEditor.editing, data: action.data, expanded: action.editing}"
          [dynamicComponentOutletOutputs]="['delete']"
          (outputs)="removeActionAction(i)">
        </ng-container>
      </ng-container>
    </mat-accordion>
  </div>

  <div class="text--secondary mb-1 mt-3">Settings</div>

  <ng-container *ngIf="!projectAlertSettingsEditor.editing">
    <div class="text--secondary mb-1"></div>
    <div>Check agent connectivity every {{ alertSettings().agent_check_interval }} seconds</div>
  </ng-container>

  <ng-container *ngIf="projectAlertSettingsEditor.editing">
    <form [formGroup]="$any(form)">
      <div class="line">
        <span>Check agent connectivity every</span>
        <input matInput #checkInternalInput [formControl]="form.controls.agent_check_interval" type="number"/>
        <span>seconds</span>
      </div>
    </form>
  </ng-container>

</mat-card-edit>
