@use '@observability/ui/styles/variables' as variables;
@use '@observability/ui/styles/mixins' as mixins;

mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

.top-margin {
  margin-top: 8px
}
