@use '@observability/ui/styles/mixins' as mixins;
@use '@observability/ui/styles/variables' as variables;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.not-configured {
  padding: 8px 0;
}
